@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  max-height: 100vh;
  overflow: hidden;
}

.postsPage {
  margin-top: 15px;
  max-height: inherit;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.allPostsContainer {
  position: relative;
  max-height: inherit;
  overflow-y: scroll;
}

#allPostsTitle {
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.profileContainer {
  position: relative;
  max-height: inherit;
  overflow-y: scroll;
  width: 100%;
  padding: 10px;
}

#profileTitle {
  position: sticky;
  top: 0;
  background-color: #fff;
  font-family: 'Permanent Marker', cursive;
}

.profileContainer > h1 {
  border-bottom: 1px solid black;
}

.post {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.myPost {
  border: 4px solid blue;
  background-color: yellow;
  box-shadow: 4px 4px 10px green;
  margin: 10px;
  padding: 10px;
}

.post > h4,
.myPost > h4 {
  font-weight: 700;
  font-size: 1.5rem;
}

.post > p,
.myPost > p {
  font-size: 1rem;
}

.registerComponent {
  border: 1px solid blue;
  padding: 10px;
}

.loginComponent {
  border: 1px solid green;
  padding: 10px;
}

.hidden {
  display: none;
}

.newPostContainer {
  border: 1px solid red;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPostContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.editPostContainer {
  border: 1px solid red;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editPostContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav_bar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.link_container {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.nav_bar_container > img {
  width: 100px;
}
