@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: url('../public/images/background\(1\).jpg');
}

:root {
  --navHeight: 75px;
}

#app {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

/* NAV BAR COMPONENT */

.nav_bar_container {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px;
  width: 100%;
  margin: 0;
  padding: 10px;
  max-height: var(--navHeight);
}

.hamburgerMenu {
  display: none;
  padding: 15px;
  position: absolute;
  top: -1000px;
  right: 0;
  background-color: black;
  color: white;
  z-index: 900;
}

.hamburgerMenu > ul {
  list-style-type: none;
  font-size: 1.5rem;
}

.hamburgerMenu > ul > li:hover {
  background-color: grey;
  color: black;
}

.hamburgerMenu > ul > li > a {
  text-decoration: none;
  color: white;
}

.link_container {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.link_container button {
  padding: 15px;
}

.nav_bar_container > img {
  max-height: inherit;
}

/* hamburger menu */

.hamburger {
  display: none;
  cursor: pointer;
}

.dropDown {
  animation-name: dropDown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.goBackUp {
  animation-name: goUp;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.closeMenu {
  cursor: pointer;
}

/* POSTS AND POST */

.postsPage {
  margin-top: 15px;
  max-height: inherit;
}
.postsPage.loggedIn {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.postsPage.guest {
  display: block;
}

.postbuttons {
  display: flex;
  gap: 4px;
}

.allPosts {
  position: relative;
  max-height: inherit;
  overflow-y: scroll;
}

#allPostsTitle {
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.post {
  border: 1px solid black;
  background-color: lightGray;
  margin: 10px;
  padding: 10px;
}

.post:hover {
  background-color: gray;
  box-shadow: 2px 2px 5px;
}

.myPost {
  border: 4px solid black;
  background-color: lightgray;
  box-shadow: 4px 4px 10px green;
  margin: 10px;
  padding: 10px;
}

.myPost:hover {
  background-color: lightGreen;
}

.post > h4,
.myPost > h4 {
  font-weight: 700;
  font-size: 1.5rem;
}

.post > p,
.myPost > p {
  font-size: 1rem;
}

/* PROFILE */

.profilePage {
  background-color: gray;
  max-height: 100vh;
  max-width: 75vw;
  margin: 0 auto;
}

.profileitem {
  display: flex;
  justify-content: space-between;
}

.profileContainer {
  margin-top: 15px;
  position: relative;
  max-height: calc(100vh - var(--navHeight));
  overflow-y: scroll;
  width: 100%;
  padding: 0 10px;
}

.hidden {
  display: none;
}

#profileTitle {
  position: sticky;
  top: 0;
  background-color: #fff;
  font-family: 'Permanent Marker', cursive;
}
#username {
  font-family: 'Permanent Marker', cursive;
}

.profileContainer > h1 {
  border-bottom: 1px solid black;
}

.profileitem {
  background-color: lightgray;
}

.profileitem:hover {
  background-color: red;
}

/* AUTHENTICATION */

.registerComponent {
  border: 1px solid blue;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.5rem 0.5rem 5px;
}

.loginComponent {
  color: white;
  font-size: 1.25rem;
  border: 1px solid darkslategray;
  background-color: gray;
  position: absolute;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0.5rem 0.5rem 5px black;
  padding: 10px;
}

.loginComponent button {
  padding: 5px;
  font-size: 1.25rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.loginForm input {
  font-size: 1.25rem;
}

/* NEW MESSAGE FORM */

.newMessageContainer > form {
  display: flex;
  flex-direction: column;
}

.newMessageContainer > form > button {
  align-self: flex-start;
}

.newMessageContainer > form > textarea {
  width: 50%;
  min-height: 50%;
}

.newPostContainer {
  background-color: gray;
  border: 1px solid darkslategray;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPostContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* EDIT POST */

.editPostContainer {
  background-color: gray;
  border: 1px solid darkslategray;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editPostContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* SINGLE POST PAGE */

.singlePostContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.singlePostMessages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.singlePostMessages > div {
  border: 1px solid black;
}

/* ANIMATIONS */

@keyframes dropDown {
  0% {
    top: -450px;
  }
  100% {
    top: 0;
  }
}
@keyframes goUp {
  0% {
    top: 0;
  }
  99% {
    top: -450px;
  }
  100% {
    top: -1000px;
  }
}

/* MEDIA */

@media screen and (max-width: 950px) {
  .link_container {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburgerMenu {
    display: block;
  }
  .logo {
    height: 50px;
  }
}
