.post {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.post > h4 {
  font-weight: 700;
  font-size: 1.5rem;
}

.post > p {
  font-size: 1rem;
}

.registerComponent {
  border: 1px solid blue;
  padding: 10px;
}

.loginComponent {
  border: 1px solid green;
  padding: 10px;
}

.hidden {
  display: none;
}

.newPostContainer {
  border: 1px solid red;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPostContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
